<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clientserver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/androidstudio"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">

        <activity
            android:name=".about"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity
            android:name=".FullscreenActivityVideoView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_video_view"
            android:launchMode="singleTop"
            android:parentActivityName=".chatActivity"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".FullscreenImageopener"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_imageopener"
            android:launchMode="singleTop"
            android:parentActivityName=".chatActivity"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".loginActivity.profile"
            android:label="Profile"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".addChats.addChats"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">

            <!-- parent activity metadata to support android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".loginActivity.verifyNumber"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".loginActivity.loginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>

        </activity>

        <service
            android:name=".makeConnectionService"
            android:enabled="true"
            android:exported="false" />

        <!-- android:process=":service" -->
        <activity
            android:name=".chatActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- parent activity metadata to support android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>